*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	outline: none;
	border:none;
}

header{
	background-color: #02446D;
	height: 100px;
	display: flex;
	padding: 10px 150px;
	justify-content: space-between;
	align-items: center;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #fff;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}
h1{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	padding: 20px;
}
.text1{
	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	line-height: 35px;
}
li{
	font-family: Arial;
	font-size: 24px;
	line-height: 35px;
	font-weight: normal;
	
}
.text{
	padding: 0 150px;

}
footer{
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #02446D;
	padding: 10px 150px;
	align-items: center;
}

footer div{
	width: 287px;
}

.ftr{
	width: 287px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}