*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	outline: none;
	border:none;
}

header{
	background-color: #02446D;
	height: 100px;
	display: flex;
	padding: 10px 150px;
	justify-content: space-between;
	align-items: center;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #fff;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}
body{
	background-image: url(img/bg.svg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer{
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #02446D;
	padding: 10px 150px;
	align-items: center;
}

footer div{
	width: 287px;
}

footer p{
	width: 287px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.wrapper{
	margin:0 150px;
	padding: 53px 98px;
	background-color: #02446D;
	display: flex;
	justify-content: space-between;
}

form{
	width: 366px;
	display: flex;
	flex-direction: column;
}

input{
	width: 340px;
	height: 20px;
	margin-bottom: 10px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #02446D;
	padding: 18px 13px;

}

textarea{
	height: 121px;
	padding: 18px 13px;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #02446D;
	margin-bottom: 10px;
}

#submit{
	width: 50%;
	height: 50px;
	padding: 0 0 5px 0;
	color: #fff;
	border:2px solid #fff;
	background-color: rgba(0,0,0,0);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s ease-out;
}

#submit:hover{
	border-radius: 10px;
}

h3{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
}

.inf{
	width: 366px;
	display: flex;
	flex-direction: column;
}

.item{
	margin-bottom: 30px;
}

.item h3{
	margin-bottom: 14px;
}

.item p{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}

#schedule{
	width: 167px;
}

#tel{
	width: 149px;
}



































