*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	outline: none;
	border:none;
}

header{
	background-color: #02446D;
	height: 100px;
	display: flex;
	padding: 10px 150px;
	justify-content: space-between;
	align-items: center;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #fff;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}
body{
	flex-direction: row;
	background-image: url(img/bg.svg);
	background-size: cover;
}

.sale{
	display: flex;
	flex-direction: column;
	padding:0 150px;
}
.items{
	display: flex;
	justify-content: space-around;
}
.item{
			width: 288px;
			height: 140px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items:center;
			margin-bottom: 200px;
			box-sizing:border-box;
}
.text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	width: 288px;
	color: #000;
}
h1{
	font-family: Arial;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	align-items: center;
	text-align: center;
	padding: 25px;
}
footer{
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #02446D;
	padding: 10px 150px;
	align-items: center;
}

footer div{
	width: 287px;
}

p{
	width: 287px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}