*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	outline: none;
	border:none;
}

header{
	background-color: #02446D;
	height: 100px;
	display: flex;
	padding: 10px 150px;
	justify-content: space-between;
	align-items: center;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #fff;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
}

body{
	background-image: url(img/bg.svg);
	background-size: cover;
}

.banner1{
	height: 50vh;
	padding: 30px 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slogan{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 46px;
	width: 762px;
	color: #02446D;
}

button{
	width: 258px;
	height: 58px;
	background: #02446D;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}

button a{
	color: #fff;
}
button:hover{
	background-color: #1C6883;
} 

.partners{
	background-color: #fff;
	padding: 10px 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 2px solid #02446D;
}

h2{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #02446D;
}

.list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%
}

footer{
	display: flex;
	justify-content: space-between;
	height: 100px;
	background-color: #02446D;
	padding: 10px 150px;
	align-items: center;
}

footer div{
	width: 287px;
}

p{
	width: 287px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}















































